body {
	background: #000;
	min-width: 350px;
}
.flexCon{
	display: flex;
	flex-wrap: wrap;
}

img{
	width: 25%;
	height: 208px;
}
.img1{
	width: 25%;
	background-image: url(india3.gif);
	background-size: contain;
	background-repeat: no-repeat;
}
.img2{
	width: 25%;
	background-image: url(india2.gif);
	background-size: contain;
	background-repeat: no-repeat;
}

.heading{
	width: 50%;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 40px;
	margin-bottom: 30px;
}
h1{
	color: #FF9933;
	text-shadow: 2px 2px 5px #FF9933;
	position: relative;
	bottom: 10px;
}
h2{
	color: white;
	text-shadow: 2px 2px 5px white;
	position: relative;
	bottom: 10px;

}
h3{
	color: #138808;
	text-shadow: 2px 2px 5px #138808;
	position: relative;
	bottom: 10px;
}

/* Fit the canvas to the page width. */
canvas {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
}
.textt{
	color: white;
	text-align: center;
	opacity: 0.3;
	font-family: monospace;
}

@media screen and (max-width: 500px){
	.img1{
		width: 100%;
		min-height: 320px;
	}
	.img2{
		width: 100%;
		min-height: 300px;
	}
	.heading{
		width: 100%;
		font-size: 28px;
	}
}
